*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}

.container{
    width: 100%;
    margin: 0 auto;
}
/*
###########################################
HEADER INI
###########################################
*/

header{
    height: 60px;
    background-color: #111111;

}

header img{
    width: 200px;
    margin-top: 5px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul li{
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

/*
###########################################
HEADER INI
###########################################
*/

/*
###########################################
MAIN INI
###########################################
*/

main{
    width: 100%;
    margin: 0 auto;
    background-color: black;

}

.row-flex{
    display: flex;
}
.col{
    height: 100vh;
    width: 100%;
    margin: 10px auto;
    background-color: grey;
    position: relative;
    background-size: cover;
    background-position: center;
}

.label3{
    position: absolute;
    bottom: 120px;
    width: 105px;
    padding: 3px;
    background-color: grey;
    font-weight: bold;
    color: white;
}
#photo{
    background-image: url(https://picsum.photos/200/300?grayscale);
    width: 100%;
    margin: 10px;
    height: 50vh;
}

/*
###########################################
MAIN END
###########################################
*/

/*
###########################################
INFO INI
###########################################
*/

/*
###########################################
INFO INI
###########################################
*/

/*
###########################################
HOVER INI
###########################################
*/

/*
###########################################
HOVER END
###########################################
*/

/*
###########################################
FOOTER INI
###########################################
*/
footer{
    width: 100%;
    height: 100px;
    background-color: #111111;
    padding-left: 20px;
}

.footnavbar{
    display: flex;
    justify-content: space-between;
    

}
ul li i{
    color: white;
    cursor: pointer;
    margin-left: 30px;
}
.fa-share-from-square{
    color: greenyellow;
}
.esci{
    height: 100px;
    width: 150px;
    background-color: grey;
}
.esci div{
    color: darkred;
    font-weight: 600;
    font-size: 12px;
    top: 95%;
    left: 94%;
    position: absolute;
}
/*
###########################################
FOOTER END
###########################################
*/

/*
.wrapper{
    width: 100%;
    margin: auto;
}
.box{
    height: calc(100vh - 20px);
    width: 100%;
    margin: 10px auto;
    background-color: grey;
    color: white;
    font-size: 5vw;
    position: relative;
    background-size: cover;
    background-position: center;
}
h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#milano{
    background-image: url();
}
.layover{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.layover:hover{
    background-color: rgba(0, 0, 0, 0);
}
/*
header{
    width: 100%;
    height: 70px;
    background-color: blueviolet;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
footer{
    width: 100%;
    height: 100px;
    background-color: #111111;
}
main{
    height: calc(100vh - 100px);
    background-color: antiquewhite;
    overflow: hidden;
    padding-top: 70px;
    position: relative;
}

.box{
    height: 30vh;
    width: 30vh;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
*/
