*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}
.container{
    width: 100%;
    margin: 0 auto;
}
/*
###########################################
HEADER INI
###########################################
*/

header{
    height: 81px;
    background-color: #111111;

}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul li{
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}
.ul-li-head{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}
.entra{
    height: 30px;
    width: 150px;
    background-color: grey;
    display: flex;
    align-items: right;
    justify-content: center;
    position: relative;
    padding-top: 8px;
    margin: 5px;
}
.entra div{
    color: white;
    font-weight: 600;
    font-size: 16px;
    position: absolute;
}
.entra1{
    height: 30px;
    width: 30px;
    background-color: grey;
    display: flex;
    align-items: right;
    justify-content: center;
    position: relative;
    padding-top: 8px;
    margin: 5px;
}
.entra1 div{
    color: white;
    font-weight: 600;
    font-size: 16px;
    position: absolute;
}
/*
###########################################
HEADER INI
###########################################
*/

/*
###########################################
MAIN INI
###########################################
*/

main{
    width: 100vh;
    margin: 0 auto;
    background-color: black;

}

.row-flex{
    display: flex;
    margin: 0 auto;
    width: 90vW;
}
.col{
    height: 18vh;
    width: 100%;
    margin: 10px auto;
    background-color: grey;
    position: relative;
    background-size: cover;
    background-position: center;
}

.label3{
    position: absolute;
    bottom: 120px;
    width: 105px;
    padding: 3px;
    background-color: grey;
    font-weight: bold;
    color: white;
}
#photo{
    background-image: url("https://picsum.photos/id/29/200/300");
    width: 100%;
    margin: 10px;
    height: 135px;
}
.label1{
    position: absolute;
    bottom: 0;
    width: 100px;
    padding: 3px;
    padding-left: 3px;
    left: 0;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

/*
###########################################
MAIN END
###########################################
*/

/*
###########################################
INFO INI
###########################################
*/

/*
###########################################
INFO INI
###########################################
*/

/*
###########################################
FOOTER INI
###########################################
*/
footer{
    width: 100%;
    height: 81px;
    background-color: #111111;
    padding-left: 20px;
}

.footnavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li i{
    color: white;
    cursor: pointer;
    margin-left: 30px;
    font-size: 20px;
}

.fa-share-from-square{
    color: greenyellow;
}
.esci{
    height: 80px;
    width: 150px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.esci div{
    color: darkred;
    font-weight: 600;
    font-size: 16px;
    position: absolute;
}
ul li p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 5px;
}
.fa-solid, .fa-brands{
    font-size: 17px;
}

/*
###########################################
FOOTER END
###########################################
*/