*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}
.container{
    width: 100%;
    margin: 0 auto;
}
/*
###########################################
HEADER INI
###########################################
*/

header{
    height: 61px;
    background-color: #111111;

}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul li{
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}
.ul-li-head{
    display: flex;
    justify-content: flex-end;
}
/*
###########################################
HEADER INI
###########################################
*/

/*
###########################################
MAIN INI
###########################################
*/

main{
    width: 100vh;
    margin: 0 auto;
    background-color: black;

}

.row-flex{
    display: flex;
    margin: 0 auto;
    width: 90vW;
}
.col{
    height: 18vh;
    width: 100%;
    margin: 10px auto;
    background-color: grey;
    position: relative;
    background-size: cover;
    background-position: center;
}

.label3{
    position: absolute;
    bottom: 120px;
    width: 105px;
    padding: 3px;
    background-color: grey;
    font-weight: bold;
    color: white;
}
#photo{
    background-image: url("https://picsum.photos/id/29/200/300");
    width: 100%;
    margin: 10px;
    height: 135px;
}

/*
###########################################
MAIN END
###########################################
*/

/*
###########################################
INFO INI
###########################################
*/

/*
###########################################
INFO INI
###########################################
*/

/*
###########################################
FOOTER INI
###########################################
*/
footer{
    width: 100%;
    height: 101px;
    background-color: #111111;
    padding-left: 20px;
}

.footnavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li i{
    color: white;
    cursor: pointer;
    margin-left: 30px;
    font-size: 20px;
}

.fa-share-from-square{
    color: greenyellow;
}
.esci{
    height: 100px;
    width: 150px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.esci div{
    color: darkred;
    font-weight: 600;
    font-size: 12px;
    position: absolute;
}
/*
###########################################
FOOTER END
###########################################
*/